/* element-variables.scss */
// @import "~element-plus/theme-chalk/src/common/var.scss";

/* Light theme */
$--button-primary-background-color: #6d28d9;
$--button-primary-border-color: #6d28d9;

/* Dark theme */
$--button-primary-background-color-dark: #9c4ddb;
$--button-primary-border-color-dark: #9c4ddb;

/* Blue theme */
$--button-primary-background-color-blue: #0d6efd;
$--button-primary-border-color-blue: #0d6efd;

/* Green theme */
$--button-primary-background-color-green: #198754;
$--button-primary-border-color-green: #198754;

/* Red theme */
$--button-primary-background-color-red: #dc3545;
$--button-primary-border-color-red: #dc3545;

/* Yellow theme */
$--button-primary-background-color-yellow: #ffc107;
$--button-primary-border-color-yellow: #ffc107;
