/* Sidebar */
$sidebar-bg-color: #f5f0ff;
$sidebar-padding: 1.5rem;


/* Logo */
$logo-text-color: #3c2f5b;
$logo-bg-gradient: linear-gradient(to right, #6d28d9, #a855f7);

/* Topbar */
$topbar-bg-color: #6d28d9;


:root {
    --progress-bar-color: #b197fc;
}

