@import 'element-plus/theme-chalk/src/common/var.scss';

.l-block-shadow {
    border: 1px solid #dee2e6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bg-purple {
    background-color: #6d28d9;
}


.bg-green {
    background-color: #529b2c;
}

.bg-red {
    background-color: #c83232;
}

.bg-orange {
    background-color: #f06618;
}

.bg-dark {
    background-color: #6e52b5;
}

:root.theme-purple {
    --logo-bg-gradient: linear-gradient(to right, #AE59C2, #5A5E9A);
    --el-color-primary-rgb: 123, 47, 177;
    --el-color-success-rgb: 34, 181, 110;
    --el-color-warning-rgb: 223, 171, 53;
    --el-color-danger-rgb: 209, 90, 90;
    --el-color-error-rgb: 209, 90, 90;
    --el-color-info-rgb: 158, 161, 167;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #7B2FB1;
    --el-color-primary-light-3: #9F4FC7;
    --el-color-primary-light-5: #B368D1;
    --el-color-primary-light-7: #C97BD9;
    --el-color-primary-light-8: #D29DE0;
    --el-color-primary-light-9: #DAA8E3;
    --el-color-primary-dark-2: #6E2B9F;
    --el-color-success: rgba(34, 181, 110, 1);
    --el-color-success-light-3: #52C68B;
    --el-color-success-light-5: #6FD1A2;
    --el-color-success-light-7: #8BDCC0;
    --el-color-success-light-8: #9DE4CF;
    --el-color-success-light-9: #B1ECDF;
    --el-color-success-dark-2: #259C65;
    --el-color-warning: rgba(223, 171, 53, 1);
    --el-color-warning-light-3: #E5B358;
    --el-color-warning-light-5: #EDC571;
    --el-color-warning-light-7: #F4D98A;
    --el-color-warning-light-8: #F7E4A4;
    --el-color-warning-light-9: #F9F0BE;
    --el-color-warning-dark-2: #BE8640;
    --el-color-danger: rgba(209, 90, 90, 1);
    --el-color-danger-light-3: #EE7373;
    --el-color-danger-light-5: #F18F8F;
    --el-color-danger-light-7: #F4A9A9;
    --el-color-danger-light-8: #F7B9B9;
    --el-color-danger-light-9: #F9D2D2;
    --el-color-danger-dark-2: #A45050;
    --el-color-error: rgba(209, 90, 90, 1);
    --el-color-error-light-3: #EE7373;
    --el-color-error-light-5: #F18F8F;
    --el-color-error-light-7: #F4A9A9;
    --el-color-error-light-8: #F7B9B9;
    --el-color-error-light-9: #F9D2D2;
    --el-color-error-dark-2: #A45050;
    --el-color-info: rgba(158, 161, 167, 1);
    --el-color-info-light-3: #9DA1A7;
    --el-color-info-light-5: #B0B4B9;
    --el-color-info-light-7: #C3C7CC;
    --el-color-info-light-8: #D2D4D9;
    --el-color-info-light-9: #E0E2E5;
    --el-color-info-dark-2: #8B9096;
    --el-bg-color: #F8F8F8;
    --el-bg-color-page: #F2F2F2;
    --el-bg-color-overlay: rgba(0, 0, 0, 0.5);
    --el-text-color-primary: #3D3D3D;
    --el-text-color-regular: #717171;
    --el-text-color-secondary: #A1A1A1;
    --el-text-color-placeholder: #B5B5B5;
    --el-text-color-disabled: #D4D4D4;
    --el-border-color: #D8D8D8;
    --el-border-color-light: #E9E9E9;
    --el-border-color-lighter: #F3F3F3;
    --el-border-color-extra-light: #F9F9F9;
    --el-border-color-dark: #C2C2C2;
    --el-border-color-darker: #B7B7B7;
    --el-fill-color: #F2F2F2;
    --el-fill-color-light: #F5F5F5;
    --el-fill-color-lighter: #FAFAFA;
    --el-fill-color-extra-light: #FCFCFC;
    --el-fill-color-dark: #E8E8E8;
    --el-fill-color-darker: #E1E1E1;
    --el-fill-color-blank: #FFFFFF;
    --el-box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-light: 0px 0px 6px rgba(0, 0, 0, 0.08);
    --el-box-shadow-lighter: 0px 0px 3px rgba(0, 0, 0, 0.08);
    --el-box-shadow-dark: 0px 8px 24px 8px rgba(0, 0, 0, 0.08), 0px 6px 16px rgba(0, 0, 0, 0.12), 0px 4px 8px -4px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.5);
    --el-overlay-color-light: rgba(0, 0, 0, 0.4);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.3);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.6);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
}

:root.theme-green {
    --logo-bg-gradient: linear-gradient(to right, var(--el-color-primary), var(--el-color-primary-light-7));
    --el-color-primary-rgb: 82, 155, 44;
    --el-color-success-rgb: 103, 194, 58;
    --el-color-warning-rgb: 230, 162, 60;
    --el-color-danger-rgb: 245, 108, 108;
    --el-color-error-rgb: 245, 108, 108;
    --el-color-info-rgb: 144, 147, 153;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #529b2c;
    --el-color-primary-light-3: #8ac86a;
    --el-color-primary-light-5: #a4d68a;
    --el-color-primary-light-7: #bfe4ad;
    --el-color-primary-light-8: #ccedc1;
    --el-color-primary-light-9: #d9f6d4;
    --el-color-primary-dark-2: #2b631a;
    --el-color-success: rgba(103, 194, 58, 1);
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: rgba(230, 162, 60, 1);
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: rgba(245, 108, 108, 1);
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: rgba(245, 108, 108, 1);
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: rgba(144, 147, 153, 1);
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
}

:root.theme-red {
    --logo-bg-gradient: linear-gradient(to right, var(--el-color-primary), var(--el-color-primary-light-7));
    --el-color-primary-rgb: 200, 50, 50;
    --el-color-success-rgb: 103, 194, 58;
    --el-color-warning-rgb: 230, 162, 60;
    --el-color-danger-rgb: 245, 108, 108;
    --el-color-error-rgb: 245, 108, 108;
    --el-color-info-rgb: 144, 147, 153;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #c83232;
    --el-color-primary-light-3: #e16868;
    --el-color-primary-light-5: #eb8f8f;
    --el-color-primary-light-7: #f2b7b7;
    --el-color-primary-light-8: #f5c9c9;
    --el-color-primary-light-9: #f8dbdb;
    --el-color-primary-dark-2: #8f1f1f;
    --el-color-success: rgba(103, 194, 58, 1);
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: rgba(230, 162, 60, 1);
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: rgba(245, 108, 108, 1);
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: rgba(245, 108, 108, 1);
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: rgba(144, 147, 153, 1);
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
}

:root.theme-orange {
    --logo-bg-gradient: linear-gradient(to right, var(--el-color-primary), var(--el-color-primary-light-7));
    --el-color-primary-rgb: 240, 102, 24;
    --el-color-success-rgb: 103, 194, 58;
    --el-color-warning-rgb: 230, 162, 60;
    --el-color-danger-rgb: 245, 108, 108;
    --el-color-error-rgb: 245, 108, 108;
    --el-color-info-rgb: 144, 147, 153;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #f06618;
    --el-color-primary-light-3: #f69062;
    --el-color-primary-light-5: #f8ab8d;
    --el-color-primary-light-7: #fbc6b9;
    --el-color-primary-light-8: #fcd4cc;
    --el-color-primary-light-9: #fde2df;
    --el-color-primary-dark-2: #b2500f;
    --el-color-success: rgba(103, 194, 58, 1);
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: rgba(230, 162, 60, 1);
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: rgba(245, 108, 108, 1);
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: rgba(245, 108, 108, 1);
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: rgba(144, 147, 153, 1);
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
}

:root.theme-dark {
    --logo-bg-gradient: linear-gradient(to right, var(--el-color-primary), var(--el-color-primary-light-7));
    --el-color-primary-rgb: 146, 155, 171;
    --el-color-success-rgb: 116, 176, 143;
    --el-color-warning-rgb: 237, 159, 51;
    --el-color-danger-rgb: 230, 70, 70;
    --el-color-error-rgb: 230, 70, 70;
    --el-color-info-rgb: 156, 166, 182;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #929bab;
    --el-color-primary-light-3: #a3b3c2;
    --el-color-primary-light-5: #b3c3d2;
    --el-color-primary-light-7: #c2d1df;
    --el-color-primary-light-8: #cbd8e4;
    --el-color-primary-light-9: #d5dee9;
    --el-color-primary-dark-2: #7d8996;
    --el-color-success: rgba(116, 176, 143, 1);
    --el-color-success-light-3: #c6e2d6;
    --el-color-success-light-5: #d2e7dd;
    --el-color-success-light-7: #dfece5;
    --el-color-success-light-8: #e4f0ea;
    --el-color-success-light-9: #e9f5ee;
    --el-color-success-dark-2: #6a9478;
    --el-color-warning: rgba(237, 159, 51, 1);
    --el-color-warning-light-3: #f1cba3;
    --el-color-warning-light-5: #f4d6b7;
    --el-color-warning-light-7: #f7e2cb;
    --el-color-warning-light-8: #f8e7d5;
    --el-color-warning-light-9: #fcf0e9;
    --el-color-warning-dark-2: #b27632;
    --el-color-danger: rgba(230, 70, 70, 1);
    --el-color-danger-light-3: #f3a6a6;
    --el-color-danger-light-5: #f5b9b9;
    --el-color-danger-light-7: #f8cccc;
    --el-color-danger-light-8: #f9d2d2;
    --el-color-danger-light-9: #fde4e4;
    --el-color-danger-dark-2: #b44343;
    --el-color-error: rgba(230, 70, 70, 1);
    --el-color-error-light-3: #f3a6a6;
    --el-color-error-light-5: #f5b9b9;
    --el-color-error-light-7: #f8cccc;
    --el-color-error-light-8: #f9d2d2;
    --el-color-error-light-9: #fde4e4;
    --el-color-error-dark-2: #b44343;
    --el-color-info: rgba(156, 166, 182, 1);
    --el-color-info-light-3: #a7b2c3;
    --el-color-info-light-5: #b3bdd0;
    --el-color-info-light-7: #c0c9dc;
    --el-color-info-light-8: #c7d0e0;
    --el-color-info-light-9: #cfd8e6;
    --el-color-info-dark-2: #8893a3;
    --el-bg-color: #222222;
    --el-bg-color-page: #1f1f1f;
    --el-bg-color-overlay: rgba(0, 0, 0, 0.7);
    --el-text-color-primary: #f5f5f5;
    --el-text-color-regular: #c1c1c1;
    --el-text-color-secondary: #999999;
    --el-text-color-placeholder: #777777;
    --el-text-color-disabled: #5c5c5c;
    --el-border-color: #444444;
    --el-border-color-light: #5d5d5d;
    --el-border-color-lighter: #6f6f6f;
    --el-border-color-extra-light: #888888;
    --el-border-color-dark: #333333;
    --el-border-color-darker: #282828;
    --el-fill-color: #2d2d2d;
    --el-fill-color-light: #3c3c3c;
    --el-fill-color-lighter: #4d4d4d;
    --el-fill-color-extra-light: #5d5d5d;
    --el-fill-color-dark: #242424;
    --el-fill-color-darker: #1f1f1f;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25), 0px 2px 6px rgba(0, 0, 0, 0.15);
    --el-box-shadow-light: 0px 0px 6px rgba(0, 0, 0, 0.25);
    --el-box-shadow-lighter: 0px 0px 3px rgba(0, 0, 0, 0.25);
    --el-box-shadow-dark: 0px 8px 24px 8px rgba(0, 0, 0, 0.25), 0px 6px 16px rgba(0, 0, 0, 0.15), 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(255, 255, 255, 0.1);
    --el-overlay-color-light: rgba(255, 255, 255, 0.05);
    --el-overlay-color-lighter: rgba(255, 255, 255, 0.03);
    --el-mask-color: rgba(0, 0, 0, 0.5);
    --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
    --el-background-gradient: linear-gradient(to right, #737373, #5b5b5b, #414141);
    --el-background-gradient-hover: linear-gradient(to right, #5b5b5b, #414141, #292929);
    --el-accent-color: #e1c340;
    --el-accent-color-light: #eddc6a;
    --el-accent-color-dark: #c4a90f;
    --el-accent-color-darker: #a0810b;
}