/* Sidebar */
$sidebar-bg-color: #f5f0ff;
$sidebar-padding: 1.5rem;

/* Logo */
$logo-text-color: #3c2f5b;
$logo-bg-gradient: linear-gradient(to right, #6d28d9, #a855f7);

/* El-menu */
$el-menu-border: none;
$el-menu-text-color: #3c2f5b;
$el-menu-hover-text-color: #6d28d9;
$el-menu-bg-color: transparent;
$el-menu-hover-bg-color: rgba(109, 40, 217, 0.1);
$el-menu-active-color: #3c2f5b;
$el-menu-item-font-size: 1.4rem;
$el-menu-item-height: 55px;

/* Topbar */
$topbar-bg-color: #6d28d9;
